{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>{% trans 'Login' %}</title>
{% endblock %}

{% block content %}
    <form class="get-started" id="login-screen" method="POST">
        {% csrf_token %}
        <p>{% trans 'Login Page' %}</p>
        {% for field in form %}
            <div>
                {% render_field field placeholder=field.label %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" value="login">{% trans 'Login' %}</button>
    </form>
{% endblock %}

