{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block css %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'client/css/chat_app/room.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div id="frame">
        <div id="sidepanel">
            {% include 'partials/__profile_partials.html' %}
            {% include 'partials/__contacts_partials.html' %}
        </div>

        <div class="content">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'client/js/chat_app/room.js' %}"></script>
    <script src="{% static 'client/js/reconnecting-websocket.js' %}"></script>
{% endblock %}